#menu-nawigacyjne .about {
    color: red;
}

#menu-nawigacyjne .skills {
    color: greenyellow;
}

#menu-nawigacyjne .portfolio {
    color: hotpink;
}

#menu-nawigacyjne .contact {
    color: blueviolet
}

#about-us {
    background-color: yellow;
}

#skills .box {
    width: 800px;
    height: 200px;
}

#skills .niebieski{
    width:200px;
    height:200px;
    background-color:blue;
    float: left;
}

#skills .zielony{
    width:200px;
    height:200px;
    background-color:green;
    float: left;
}

#skills .pomaranczowy{
    width:200px;
    height:200px;
    background-color:orange;
    float: left;
}

#skills .czerwony{
    width:200px;
    height:200px;
    background-color:red;
    float: left;
}